<div id="<%= dom_id questionnaire_sommeil %>">
  <p>
    <strong>Email:</strong>
    <%= questionnaire_sommeil.email %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= questionnaire_sommeil.telephone %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= questionnaire_sommeil.adresse %>
  </p>

  <p>
    <strong>Pere:</strong>
    <%= questionnaire_sommeil.pere %>
  </p>

  <p>
    <strong>Mere:</strong>
    <%= questionnaire_sommeil.mere %>
  </p>

  <p>
    <strong>Enfant:</strong>
    <%= questionnaire_sommeil.enfant %>
  </p>

  <p>
    <strong>Poids:</strong>
    <%= questionnaire_sommeil.poids %>
  </p>

  <p>
    <strong>Freres soeurs:</strong>
    <%= questionnaire_sommeil.freres_soeurs %>
  </p>

  <p>
    <strong>Rituel:</strong>
    <%= questionnaire_sommeil.rituel %>
  </p>

  <p>
    <strong>Duree rituel:</strong>
    <%= questionnaire_sommeil.duree_rituel %>
  </p>

  <p>
    <strong>Lieu nuit:</strong>
    <%= questionnaire_sommeil.lieu_nuit %>
  </p>

  <p>
    <strong>Objectif:</strong>
    <%= questionnaire_sommeil.objectif %>
  </p>

  <p>
    <strong>Produit:</strong>
    <%= questionnaire_sommeil.produit_id %>
  </p>

  <p>
    <strong>Niveau activite:</strong>
    <%= questionnaire_sommeil.niveau_activite %>
  </p>

  <p>
    <strong>Intensite reaction:</strong>
    <%= questionnaire_sommeil.intensite_reaction %>
  </p>

</div>
